$link-color: #ffee00;
$link-color-active: #eee; 

.main-menu {
  a, a:visited {
  	 color: $link-color !important;
  }

  a:active, a:hover {
  	color: $link-color-active !important;
  }
}

.main { 
	margin-top: 20px;
  .sidebar {
    margin-top: 30px;      
  }
}
  