/* ============= default =================== */
$link-color: #ffee00;
$link-color-active: #eee; 

.main-menu {
  a, a:visited {
  	 color: $link-color !important;
  }

  a:active, a:hover {
  	color: $link-color-active !important;
  }
}

.main {
	margin-top: 25px;
  .sidebar {
    margin-top: 30px;
  }
}

.signal-banner {
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;

  .signal-actions {
    padding-top: 15px;
  }
}
